
/* =============================================
 * setting
 * ============================================= */

@import '../../variables/setting'; 
@import '../../mixins/component';

/* =============================================
 * table 
 * ============================================= */

table { border-spacing: 0; background-color: transparent; }
td, th { padding: 0; }

.table {
    
    &.table-fluid { border-spacing: 0; width: 100%; }

    &.table-hover {
		
        tbody > tr:nth-child(even) { @include transition(0.5s); }
        tbody > tr:nth-child(even):hover { 
            background-color: #EEEEEE; 
            cursor: pointer; 
            > td {
                border-right: 1px solid #DDDDDD;
                &:last-child { border-right: 1px solid #EEEEEE; }
            }
        }
    }

    tbody > tr > td, 
    thead > tr > th, 
    tfoot > tr > td { 
        border: 1px solid #EEEEEE;
        padding: 0.4rem 0.5rem; 
        text-align: left; 
    }
	
	thead > tr > th, 
	tfoot > tr > td { 
		background-color: #EEEEED; 
		border-right: 1px solid #DDDDDD; 
		&:last-child { 
			border-right: 1px solid #EEEEEE; 
		}
	}
	
    border-collapse: collapse; 
    margin-bottom: 20px;

}