
/* =============================================
 * Setting
 * ============================================= */

$max-width      : 1200px;

$desktop-width  : 1200px;
$tablet-width   : 768px;
$mobile-width   : 320px;

$gutter-width   : 5px;
$column-width   : 70px;

$max-column     : 15;
$bg-color       : #FFFFFF;

$font-size      : 12px;

$line-height    : 16px;
$font-color     : #2C3E50;