
/* =============================================
 * setting
 * ============================================= */

@import '../variables/_setting';

/* =============================================
 * The -webkit- prefixed property will work in WebKit-based browsers such as Chrome and Safari
 * The -moz- prefixed property will work in Firefox
 * The -ms- prefixed property will work in Internet Explorer
 * The -o- prefixed property will work in Opera
 * ============================================= */ 

/* =============================================
 * component
 * ============================================= */

@mixin link ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

@mixin border-radius ($pixel: 5px) {
	-webkit-border-radius: $pixel;
	   -moz-border-radius: $pixel;
	    -ms-border-radius: $pixel;
	     -o-border-radius: $pixel;
	        border-radius: $pixel;
}
@mixin box-shadow ($pixel: 5px) {
	-webkit-box-shadow: $pixel;
	   -moz-box-shadow: $pixel;
	    -ms-box-shadow: $pixel;
		 -o-box-shadow: $pixel;
	        box-shadow: $pixel;
}
@mixin box-sizing ($val: 'border-box') {
	-webkit-box-sizing: $val;
	   -moz-box-sizing: $val;
	    -ms-box-sizing: $val;
	     -o-box-sizing: $val; 
	        box-sizing: $val;
}

@mixin transform ($val: 'all 0.3s ease-out') {
	-webkit-transform: $val;
	   -moz-transform: $val;
	    -ms-transform: $val;
	     -o-transform: $val;
	        transform: $val;
}
@mixin transition ($val: 'all 0.3s ease-in-out') {
	-webkit-transition: $val;
	   -moz-transition: $val;
	    -ms-transition: $val;
	     -o-transition: $val;
	        transition: $val;
}
@mixin transition-duration ($val: '0.5s') {
	-webkit-transition: $val;
	   -moz-transition: $val;
	    -ms-transition: $val;
	     -o-transition: $val;
	        transition: $val;
}

@mixin linear-gradient ($position1: top, $position2: right, $color1: #A60000, $color2: #FFFFFF) {
	background-image: -webkit-linear-gradient($position1 $position2, $color1, $color2);
	background-image: -moz-linear-gradient($position1 $position2, $color10, $color2);
	background-image: -ms-linear-gradient($position1 $position2, $color1, $color2);
	background-image: -o-linear-gradient($position1 $position2, $color1, $color2);
	background-image: linear-gradient($position1 $position2, $color1, $color2);
}

/* =============================================
 * screen
 * ============================================= */

@mixin screen-desktop {
  @media only screen and (min-width: $desktop-width) {
    @content;
  }
}
@mixin screen-tablet {
  @media only screen and (min-width: $tablet-width) {
    @content;
  }
}
@mixin screen-mobile {
  @media only screen and (min-width: $mobile-width) {
    @content;
  }
}
@mixin screen-between ($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width){
    @content;
  }
}
@mixin screen-custom ($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

/* =============================================
 * animation
 * ============================================= */

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

/* =============================================
 * flex
 * ============================================= */

@mixin flexbox() {
	
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	
}
@mixin flex($values) {
	
  -webkit-box-flex: $values;
     -moz-box-flex:  $values;
      -webkit-flex:  $values;
          -ms-flex:  $values;
              flex:  $values;
	
}