
/* =============================================
 * Back to Top
 * ============================================= */

.to-top {
    z-index: 10;
    position: fixed;
	display: inline-block;
	height: 50px;
	width: 50px;
	bottom: 30px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(26, 188, 156, 0.8) url(../images/top-arrow.svg) no-repeat center 50%;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.to-top:hover { 
	opacity: 0.6;
}