/* =============================================
 * setting
 * ============================================= */

@import '../variables/_setting';

.btn { border: none; border-radius: 2px; border: 1px solid #FFF; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; }
.btn:hover { cursor: pointer; }

.bth-hover { -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }
.bth-hover:hover, button.bth-hover:hover { color: rgba(255,255,255, 0.9); box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); }

.btn-floating { display: inline-block; text-align: center; color: #fff; background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.btn-floating { width: 40px; height: 40px; line-height: 40px}

.bth-disabled { opacity: 0.6; cursor: not-allowed; }

.btn-group { }