
/* =============================================
 * setting
 * ============================================= */

@import '../variables/_setting';
@import '../mixins/_component';

/* =============================================
 * form 
 * ============================================= */

input, select, textarea { background: transparent; background-color: #FFF; line-height: normal; overflow: auto; }
select { text-transform: none; }

.form { 
	
	padding: 0;
	font-size: 1em;
	// background-color: #F25;

	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="date"], 
	input[type="time"],
	select { 
		padding: 9px 10px 8px;
		width: 100%;
		height: 38px;
		border-radius: 2px;
		border: 1px solid #DDD;
		font-size: 1.0em;
		color: #999;
	}

	input[type="submit"] { padding: 11px 18px 10px; cursor: pointer; color: #2C3E50; }
	input[type="submit"],
	input[type="checkbox"],
	input[type="radio"] { width: auto; }

}

.form-group {

	margin-bottom: 16px;

	> label { display: block; margin-bottom: 5px; }
	> input { display: block; }

	.form-control { height: 38px; }

	&.col-15, &.col-14, &.col-13, &.col-12, &.col-11, &.col-10, &.col-9, &.col-8, &.col-7, &.col-6, &.col-5, &.col-4, &.col-3, &.col-2, &.col-1 { 
		float: left;
		flex: none;
		padding: 0;
	}

	.col-15, .col-14, .col-13, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
		float: left;
		padding: 0; 
		flex: none;
	}

	&.space { padding-right: 10px; }

}

.form-horizontal {

	margin: 0 -5px;

	.form-group { 

		display: block;
		float: left;
		padding: 0 5px !important;
		
		.form-control { width: 100%; }

	}

}

.form-vertical {

	.form-label { padding: 11px 0 10px; }

	.form-group {

		width: 100% !important;
		overflow: auto;

		&.space { padding-right: 0px; }

	}

}

/*

.form-input { border-radius: 1px; border: 1px solid #EEEEEE; padding: 8px 10px; color: #999999; width: 100%; }
.form-input:hover { border: 1px solid #EEEEEE; }
.form-select { border-radius: 1px; border: 1px solid #EEEEEE; padding: 8px 10px; color: #999999; width: 100%; }

.form-checkbox { position: relative; display: inline-block; margin: 10px 0 5px; width: 80px; height: 27px; background-color: #FFFFFF; border-radius: 50px; border: 1px solid #CCC;  }
.form-checkbox:after, .form-checkbox:before { position: absolute; z-index: 0; font: 12px/26px Arial, sans-serif; font-weight: bold; }
.form-checkbox:after { content: 'OFF'; color: #000000; right: 10px; }
.form-checkbox:before { content: 'ON'; color: #1ABC9C; left: 10px; }
.form-checkbox label { display: block; width: 34px; height: 22px; cursor: pointer; position: absolute; top: 1px; left: 2px; z-index: 1; background-color: #fcfff4; border-radius: 50px; @include transition (all 0.4s ease); box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }
.form-checkbox input[type="checkbox"] { visibility: hidden; }
.form-checkbox input[type="checkbox"]:checked + label { left: 42px; }

.form-radio { position: relative; display: block; float: left; width: 100%; margin: 5px 0 10px; }
.form-radio label { padding: 0 10px 0 0; border-radius: 3px; border: 1px solid #D1D3D4; font-weight: bold; color: #999999; }
.form-radio input[type="radio"]:empty { margin-left: -999px; }
.form-radio input[type="radio"]:empty ~ label { position: relative; float: left; line-height: 2em; text-indent: 3.25em; cursor: pointer; }
.form-radio input[type="radio"]:empty ~ label:before { position: absolute; display: block; top: 0; bottom: 0; left: 0; content: ''; width: 2.5em; background-color: #D1D3D4; border-radius: 3px 0 0 3px; }
.form-radio input[type="radio"]:hover:not(:checked) ~ label:before { content:'\2714'; text-indent: .9em; color: #C2C2C2; }
.form-radio input[type="radio"]:hover:not(:checked) ~ label { color: #888888; }
.form-radio input[type="radio"]:checked ~ label:before { content:'\2714'; text-indent: .9em; color: #9CE2AE; background-color: #4DCB6D; }
.form-radio input[type="radio"]:checked ~ label { color: #999999; }

.form-submit { padding: 9px 20px; border: none; color: #555555; width: 100%; max-width: 100%; background-color: #EEEEEE; @include transition (.3s ease-in-out); }
.form button.form-submit { padding: 7px 20px; }
.form-submit:hover { cursor: pointer; background-color: #DDDDDD; }
.form-label { 
	display: block; color: #555555; 
	&.col-15, &.col-14, &.col-13, &.col-12, &.col-11, &.col-10, &.col-9, &.col-8, &.col-7, &.col-6, &.col-5, &.col-4, &.col-3, &.col-2, &.col-1 { padding: 0; }
}

.form-vertical, .form-horizontal { overflow: auto; }

@include screen-tablet {
	.form-label-right { text-align: right; }
    .form-horizontal {
		.form-control .form-label, .form-control .form-group { display: inline-block; }
		.form-control .form-label { padding-top: 5px; padding-right: 10px; }
    }
	.form-vertical {
		.form-label { padding: 8px 0; clear: both; }
	}	
	.form-submit { width: auto; }
}

*/